#header-name{
    text-align: center;
    font-size: 55px;
}

header{
    border-bottom: 2px solid;
    padding: 2px;
}

.winLoseBoard{
    text-align: center;
    margin-top: 3.5%;
}

#wins,
#losses {
    display: inline;
    padding: 13%;
}

.gems{
    display: block;
    margin-top:5%
}

#circle{
    border: 2px solid red;
    border-radius: 50%;
    width:250px;
    height:250px;
    background: red;
    margin-left:5%;
    position: relative;
}


#roundSquare {
    border-radius: 15px;
    border-width: 15px;
    border: 2px solid #28e3f7;
    margin-left:28%;
    background:#28e3f7;
    width: 250px;
    height: 250px;
    margin-top:-13%;
    position: relative;
  }
 

#rectangle{
    border: 2px solid green;
    width:320px;
    height:220px;
    margin-left:50%;
    margin-top:-13%;
    background: green;
}

#triangle {
    width: 0px;
    height: 0px;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 200px solid yellow;
    margin-left: 75%;
    margin-top: -11%;
  }


.scoreboard{
    margin-top: 8%;
}

#instructions{
    text-align: center;
}


#random,
#user{
    display: inline;
    padding: 18%;
    font-size: 35px;
}

.numbers{
    margin-top:3%;
}